/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/_global.sass */
html, body {
  font-family: tahoma, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.3;
}

/* line 7, sass/_global.sass */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 10, sass/_global.sass */
h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* line 14, sass/_global.sass */
h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

/* line 18, sass/_global.sass */
h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* line 22, sass/_global.sass */
h4 {
  font-size: 28px;
}

/* line 25, sass/_global.sass */
.sub-head {
  font-size: 28px;
}

/* line 27, sass/_global.sass */
.no-head {
  font-size: 14px;
}

/* line 30, sass/_global.sass */
p {
  margin: auto 0 14px;
}

/* line 33, sass/_global.sass */
ul {
  list-style: disc;
  margin-bottom: 20px;
}

/* line 36, sass/_global.sass */
li {
  margin: 0 0 10px 40px;
}

/* line 40, sass/_global.sass */
a:hover {
  text-decoration: none;
}

/* line 43, sass/_global.sass */
strong, b {
  font-weight: 600;
}

/* line 45, sass/_global.sass */
em, i {
  font-style: italic;
}

/* line 48, sass/_global.sass */
.big-text {
  font-size: 22px;
}

/* line 50, sass/_global.sass */
.small-text {
  font-size: 12px;
}

/* line 53, sass/_global.sass */
.table {
  width: 100%;
}
/* line 55, sass/_global.sass */
.table th, .table td {
  border: 1px solid #ddd;
  padding: 5px;
}
/* line 58, sass/_global.sass */
.table th {
  background: #ccc;
  font-weight: bold;
}

/* line 62, sass/_global.sass */
.padding-5 {
  padding: 5px;
}

/* line 64, sass/_global.sass */
.padding-10 {
  padding: 10px;
}

/* line 66, sass/_global.sass */
.no-margin {
  margin-bottom: 0;
}

/* line 69, sass/_global.sass */
.center {
  text-align: center;
}

/* line 71, sass/_global.sass */
.left {
  text-align: left;
}

/* line 73, sass/_global.sass */
.right {
  text-align: right;
}

/* line 75, sass/_global.sass */
.float-left {
  float: left;
}

/* line 77, sass/_global.sass */
.float-right {
  float: right;
}

/* line 79, sass/_global.sass */
.clear-both {
  clear: both;
}

/* line 82, sass/_global.sass */
.width-25 {
  width: 25%;
}

/* line 84, sass/_global.sass */
.width-50 {
  width: 50%;
}

/* line 86, sass/_global.sass */
.width-100 {
  width: 100%;
}

/* line 89, sass/_global.sass */
.red {
  color: #8e2222;
}

/* line 1, sass/_layout.sass */
html {
  box-sizing: border-box;
}

/* line 4, sass/_layout.sass */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 7, sass/_layout.sass */
header {
  background: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
}
/* line 12, sass/_layout.sass */
header h1 {
  margin-bottom: 0;
}

/* line 15, sass/_layout.sass */
.schedule-day {
  background: #eee;
  margin: 10px;
}
/* line 18, sass/_layout.sass */
.schedule-day h2 {
  background: #ccc;
  border-bottom: 1px solid #c2c2c2;
  display: block;
  font-size: 22px;
  margin: 0;
  padding: 8px;
}

/* line 27, sass/_layout.sass */
.schedule-timeslot h3 {
  background: #ddd;
  border-bottom: 1px solid #d2d2d2;
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 8px;
}

/* line 35, sass/_layout.sass */
.schedule-row {
  overflow: hidden;
  *zoom: 1;
}
/* line 37, sass/_layout.sass */
.schedule-row .schedule-column {
  float: left;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 43, sass/_layout.sass */
.schedule-row .column1 {
  width: 50%;
}
/* line 45, sass/_layout.sass */
.schedule-row .column2 {
  width: 30%;
}
/* line 47, sass/_layout.sass */
.schedule-row .column3 {
  text-align: center;
  width: 20%;
}

/* line 51, sass/_layout.sass */
.full-session-details {
  background: #fff;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
}
/* line 59, sass/_layout.sass */
.full-session-details .family-approved {
  background: green;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}
/* line 65, sass/_layout.sass */
.full-session-details img {
  max-height: 100px;
  max-width: 100px;
}
