/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, sass/_global.sass */
html, body {
  font-family: tahoma, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.3;
}

/* line 7, sass/_global.sass */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 10, sass/_global.sass */
h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* line 14, sass/_global.sass */
h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

/* line 18, sass/_global.sass */
h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* line 22, sass/_global.sass */
h4 {
  font-size: 28px;
}

/* line 25, sass/_global.sass */
.sub-head {
  font-size: 28px;
}

/* line 27, sass/_global.sass */
.no-head {
  font-size: 14px;
}

/* line 30, sass/_global.sass */
p {
  margin: auto 0 14px;
}

/* line 33, sass/_global.sass */
ul {
  list-style: disc;
  margin-bottom: 20px;
}

/* line 36, sass/_global.sass */
li {
  margin: 0 0 10px 40px;
}

/* line 39, sass/_global.sass */
a {
  color: #38666a;
}
/* line 41, sass/_global.sass */
a:hover {
  text-decoration: none;
}

/* line 44, sass/_global.sass */
strong, b {
  font-weight: 600;
}

/* line 46, sass/_global.sass */
em, i {
  font-style: italic;
}

/* line 49, sass/_global.sass */
.big-text {
  font-size: 22px;
}

/* line 51, sass/_global.sass */
.small-text {
  font-size: 12px;
}

/* line 54, sass/_global.sass */
.table {
  width: 100%;
}
/* line 56, sass/_global.sass */
.table th, .table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
/* line 59, sass/_global.sass */
.table th {
  background: #cccccc;
  font-weight: bold;
}

/* line 63, sass/_global.sass */
.padding-5 {
  padding: 5px;
}

/* line 65, sass/_global.sass */
.padding-10 {
  padding: 10px;
}

/* line 67, sass/_global.sass */
.no-margin {
  margin-bottom: 0;
}

/* line 70, sass/_global.sass */
.center {
  text-align: center;
}

/* line 72, sass/_global.sass */
.left {
  text-align: left;
}

/* line 74, sass/_global.sass */
.right {
  text-align: right;
}

/* line 76, sass/_global.sass */
.float-left {
  float: left;
}

/* line 78, sass/_global.sass */
.float-right {
  float: right;
}

/* line 80, sass/_global.sass */
.clear-both {
  clear: both;
}

/* line 83, sass/_global.sass */
.width-25 {
  width: 25%;
}

/* line 85, sass/_global.sass */
.width-50 {
  width: 50%;
}

/* line 87, sass/_global.sass */
.width-100 {
  width: 100%;
}

/* line 90, sass/_global.sass */
.red {
  color: #8e2222;
}

/* line 1, sass/_layout.sass */
html {
  box-sizing: border-box;
}

/* line 4, sass/_layout.sass */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 7, sass/_layout.sass */
header {
  background: #38666a;
  color: white;
  padding: 5px;
  text-align: center;
}
/* line 12, sass/_layout.sass */
header h1 {
  margin-bottom: 0;
}

/* line 15, sass/_layout.sass */
.schedule-day {
  background: #eeeeee;
  margin: 10px;
}
/* line 18, sass/_layout.sass */
.schedule-day h2 {
  background: #38666a;
  color: white;
  display: block;
  font-size: 22px;
  margin: 0;
  padding: 8px;
}
/* line 26, sass/_layout.sass */
.schedule-day .day-header {
  cursor: pointer;
}
/* line 28, sass/_layout.sass */
.schedule-day .day-header::after {
  float: right;
  content: "[-]";
}
/* line 33, sass/_layout.sass */
.schedule-day.collapsed .day-header::after {
  content: "[+]";
}
/* line 35, sass/_layout.sass */
.schedule-day.collapsed .day-timeslots {
  display: none;
}

/* line 39, sass/_layout.sass */
.schedule-timeslot h3 {
  background: #dddddd;
  border-bottom: 1px solid #d2d2d2;
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 8px;
}

/* line 47, sass/_layout.sass */
.schedule-row {
  overflow: hidden;
  *zoom: 1;
  cursor: pointer;
}
/* line 50, sass/_layout.sass */
.schedule-row .schedule-column {
  float: left;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 56, sass/_layout.sass */
.schedule-row .column1 {
  width: 50%;
}
/* line 58, sass/_layout.sass */
.schedule-row .column2 {
  width: 30%;
}
/* line 60, sass/_layout.sass */
.schedule-row .column3 {
  text-align: center;
  width: 20%;
}

/* line 64, sass/_layout.sass */
.full-session-details {
  background: white;
  bottom: 0;
  left: 0;
  padding: 10px 10px 50px;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 1;
}
/* line 74, sass/_layout.sass */
.full-session-details .family-approved {
  background: #38666a;
  color: white;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}
/* line 80, sass/_layout.sass */
.full-session-details img {
  max-height: 100px;
  max-width: 100px;
}

/* line 83, sass/_layout.sass */
.close-details {
  background: #c03e24;
  bottom: 0;
  color: white;
  cursor: pointer;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

/* line 96, sass/_layout.sass */
.mobile-only {
  display: none;
}

@media (max-width: 568px) {
  /* line 6, sass/responsive/_layout.sass */
  .schedule-row .schedule-column {
    float: none;
    overflow: visible;
    white-space: normal;
  }
  /* line 10, sass/responsive/_layout.sass */
  .schedule-row .column1 {
    font-weight: bold;
    padding-bottom: 3px;
    width: 100%;
  }
  /* line 14, sass/responsive/_layout.sass */
  .schedule-row .column2 {
    border-bottom: 1px solid #cccccc;
    padding-top: 3px;
    width: 100%;
  }
  /* line 18, sass/responsive/_layout.sass */
  .schedule-row .column3 {
    display: none;
  }

  /* line 21, sass/responsive/_layout.sass */
  .mobile-only {
    display: inline;
  }
}
